
html {
  background-color: #ffffff;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

a {
  color: #0000ff;
  text-decoration: none;
}

body {
  background-color: #ffffff;
  font-family: 'open_sansregular', sans-serif;
  height: 100vh;
}

.welcome-text {
  margin: 2em;
}

/* Mobile devices will get these classes defined */
@media screen and (max-width: 767px) {

  #mm-container {
    background: #FFFFFF;
    border-radius: 0;
    box-sizing: border-box;
    width: 100%;
  }

  .mobile-menu-container {
    display: block;
    height: auto;
    position: relative;
    width: 100%;
  }

  .mobile-menu-button {
    background: #4444FF;
    border: none;
    border-radius: 0;
    color: white;
    display: block;
    font-size: 2em;
    height: 32px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .mobile-menu-button:hover {
    background: #8888FF;
    cursor: pointer;
  }

  .menu-item {
    border-radius: 0;
    box-sizing: border-box;
    display: block;
    padding: 8px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .menu-visible {
    height: 0;
    visibility: hidden;
  }
}

/* These are for tablets and desktops */
@media screen and (min-width: 768px) {
  #mm-container, .menu-container {
    border: 1px solid #000000;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    height: 2em;
    justify-content: flex-start;
    width: 600px;
  }

  .mobile-menu-button {
    display: none;
  }

  .menu-item {
    margin-left: 1em;
    margin-right: 1em;
    visibility: visible;
    width: 100px;
  }

  .menu-visible {
    visibility: visible;
  }

}


/* Common things are here */
.menu-item {
  align-self: center;
  color: #000000;
  font-weight: bolder;
}

.menu-item:hover {
  color: #444444;
  cursor: pointer;
}